/*MARKERS*/
/*special markers*/
.scenario_start { background-image: url(pieces150/start.webp);  }
.scenario_end { background-image: url(pieces150/end.webp);  }
.marker.oos { background-image: url(pieces150/ap_oos.png);  }
.marker.isolated { background-image: url(pieces150/isolated.png);  }
.marker.no_garrison { background-image: url(pieces150/no_garrison.webp);  }
.garrison_jp { background-image: url(pieces150/garrison_jp.webp);  }
.garrison_cn { background-image: url(pieces150/garrison_cn.webp);  }
.marker.organic_small { background-image: url(pieces150/organic_small.webp); }
.marker.aa_small { background-image: url(pieces150/aa_small.webp); }
.marker.strat_small { background-image: url(pieces150/strat_small.webp); }
.marker.strat_air_small { background-image: url(pieces150/strat_air_small.webp); }
.marker.barges_small { background-image: url(pieces150/barges_small.webp); }
.marker.oos_small { background-image: url(pieces150/oos_small.webp); }
.marker.ng_surrender { background-image: url(pieces150/ng_sur.webp);background-size: 45px 45px; }
.marker.am_surrender { background-image: url(pieces150/am_sur.webp);background-size: 45px 45px; }
.marker.mi_surrender { background-image: url(pieces150/mi_sur.webp);background-size: 45px 45px; }
.road_ledo { background-image: url(pieces150/road_ledo.webp); background-size: 50px 55px;background-repeat: no-repeat; }
.road_imphal { background-image: url(pieces150/road_imphal.webp);background-size: 50px 55px;background-repeat: no-repeat; }
.road_jarhat { background-image: url(pieces150/road_jarhat.webp); background-size: 55px 45px;background-repeat: no-repeat;}
.road_kwai { background-image: url(pieces150/road_kwai.webp); background-size: 50px 95px;background-repeat: no-repeat; }

/*marker_stripes*/
.big_markers_blue { background-image: url(pieces150/big_markers_blue.150.webp); background-size: 225px 90px; }
.big_markers_dkblue { background-image: url(pieces150/big_markers_dkblue.150.webp); background-size: 45px 90px; }
.big_markers_white { background-image: url(pieces150/big_markers_white.150.webp); background-size: 495px 90px; }
.card > .big_markers_white {
    background-size: 990px 180px;
}
.big_markers_yellow { background-image: url(pieces150/big_markers_yellow.150.webp); background-size: 135px 90px; }
.small_markers_dkblue { background-image: url(pieces150/small_markers_dkblue.150.webp); background-size: 140px 70px; }
.small_markers_green { background-image: url(pieces150/small_markers_green.150.webp); background-size: 105px 70px; }
.small_markers_red { background-image: url(pieces150/small_markers_red.150.webp); background-size: 70px 70px; }
.small_markers_black { background-image: url(pieces150/small_units_black.150.webp); background-size: 280px 70px; }
.small_markers_brown { background-image: url(pieces150/small_units_brown.150.webp); background-size: 140px 70px; }
.small_markers_yellow { background-image: url(pieces150/small_markers_yellow.150.webp); background-size: 420px 70px; }


/* PIECES */
.big_units_blue { background-image: url(pieces150/big_units_blue.150.webp); background-size: 1440px 90px; }
.big_units_white { background-image: url(pieces150/big_units_white.150.webp); background-size: 855px 90px; }
.big_units_beige { background-image: url(pieces150/big_units_beige.150.webp); background-size: 405px 90px; }
.big_units_orange { background-image: url(pieces150/big_units_orange.150.webp); background-size: 45px 90px; }
.small_units_beige { background-image: url(pieces150/small_units_beige.150.webp); background-size: 700px 70px; }
.small_units_beige_air { background-image: url(pieces150/small_units_beige_air.150.webp); background-size: 175px 70px; }
.small_units_blue { background-image: url(pieces150/small_units_blue.150.webp); background-size: 420px 70px; }
.small_units_dkblue { background-image: url(pieces150/small_units_dkblue.150.webp); background-size: 70px 70px; }
.small_units_green { background-image: url(pieces150/small_units_green.150.webp); background-size: 420px 70px; }
.small_units_green_air { background-image: url(pieces150/small_units_green_air.150.webp); background-size: 560px 70px; }
.small_units_ltyellow { background-image: url(pieces150/small_units_ltyellow.150.webp); background-size: 140px 70px; }
.small_units_orange { background-image: url(pieces150/small_units_orange.150.webp); background-size: 350px 70px; }
.small_units_red { background-image: url(pieces150/small_units_red.150.webp); background-size: 105px 70px; }
.small_units_turquoise { background-image: url(pieces150/small_units_turquoise.150.webp); background-size: 140px 70px; }
.small_units_white { background-image: url(pieces150/small_units_white.150.webp); background-size: 700px 70px; }
.small_units_yellow { background-image: url(pieces150/small_units_yellow.150.webp); background-size: 735px 70px; }
.small_units_yellow_air { background-image: url(pieces150/small_units_yellow_air.150.webp); background-size: 455px 70px; }
.small_markers_white { background-image: url(pieces150/small_markers_white.150.webp); background-size: 70px 70px; }
.small_markers_white.transparent { background-image: url(pieces150/transparent_markers_white.150.webp); background-size: 70px 70px; }


/* CARDS (1x) */
.card_ap_0{background-image:url(cards/card_ap_00.100.avif)}
.card_ap_1{background-image:url(cards/card_ap_01.100.avif)}
.card_ap_2{background-image:url(cards/card_ap_02.100.avif)}
.card_ap_3{background-image:url(cards/card_ap_03.100.avif)}
.card_ap_4{background-image:url(cards/card_ap_04.100.avif)}
.card_ap_5{background-image:url(cards/card_ap_05.100.avif)}
.card_ap_6{background-image:url(cards/card_ap_06.100.avif)}
.card_ap_7{background-image:url(cards/card_ap_07.100.avif)}
.card_ap_8{background-image:url(cards/card_ap_08.100.avif)}
.card_ap_9{background-image:url(cards/card_ap_09.100.avif)}
.card_ap_10{background-image:url(cards/card_ap_10.100.avif)}
.card_ap_11{background-image:url(cards/card_ap_11.100.avif)}
.card_ap_12{background-image:url(cards/card_ap_12.100.avif)}
.card_ap_13{background-image:url(cards/card_ap_13.100.avif)}
.card_ap_14{background-image:url(cards/card_ap_14.100.avif)}
.card_ap_15{background-image:url(cards/card_ap_15.100.avif)}
.card_ap_16{background-image:url(cards/card_ap_16.100.avif)}
.card_ap_17{background-image:url(cards/card_ap_17.100.avif)}
.card_ap_18{background-image:url(cards/card_ap_18.100.avif)}
.card_ap_19{background-image:url(cards/card_ap_19.100.avif)}
.card_ap_20{background-image:url(cards/card_ap_20.100.avif)}
.card_ap_21{background-image:url(cards/card_ap_21.100.avif)}
.card_ap_22{background-image:url(cards/card_ap_22.100.avif)}
.card_ap_23{background-image:url(cards/card_ap_23.100.avif)}
.card_ap_24{background-image:url(cards/card_ap_24.100.avif)}
.card_ap_25{background-image:url(cards/card_ap_25.100.avif)}
.card_ap_26{background-image:url(cards/card_ap_26.100.avif)}
.card_ap_27{background-image:url(cards/card_ap_27.100.avif)}
.card_ap_28{background-image:url(cards/card_ap_28.100.avif)}
.card_ap_29{background-image:url(cards/card_ap_29.100.avif)}
.card_ap_30{background-image:url(cards/card_ap_30.100.avif)}
.card_ap_31{background-image:url(cards/card_ap_31.100.avif)}
.card_ap_32{background-image:url(cards/card_ap_32.100.avif)}
.card_ap_33{background-image:url(cards/card_ap_33.100.avif)}
.card_ap_34{background-image:url(cards/card_ap_34.100.avif)}
.card_ap_35{background-image:url(cards/card_ap_35.100.avif)}
.card_ap_36{background-image:url(cards/card_ap_36.100.avif)}
.card_ap_37{background-image:url(cards/card_ap_37.100.avif)}
.card_ap_38{background-image:url(cards/card_ap_38.100.avif)}
.card_ap_39{background-image:url(cards/card_ap_39.100.avif)}
.card_ap_40{background-image:url(cards/card_ap_40.100.avif)}
.card_ap_41{background-image:url(cards/card_ap_41.100.avif)}
.card_ap_42{background-image:url(cards/card_ap_42.100.avif)}
.card_ap_43{background-image:url(cards/card_ap_43.100.avif)}
.card_ap_44{background-image:url(cards/card_ap_44.100.avif)}
.card_ap_45{background-image:url(cards/card_ap_45.100.avif)}
.card_ap_46{background-image:url(cards/card_ap_46.100.avif)}
.card_ap_47{background-image:url(cards/card_ap_47.100.avif)}
.card_ap_48{background-image:url(cards/card_ap_48.100.avif)}
.card_ap_49{background-image:url(cards/card_ap_49.100.avif)}
.card_ap_50{background-image:url(cards/card_ap_50.100.avif)}
.card_ap_51{background-image:url(cards/card_ap_51.100.avif)}
.card_ap_52{background-image:url(cards/card_ap_52.100.avif)}
.card_ap_53{background-image:url(cards/card_ap_53.100.avif)}
.card_ap_54{background-image:url(cards/card_ap_54.100.avif)}
.card_ap_55{background-image:url(cards/card_ap_55.100.avif)}
.card_ap_56{background-image:url(cards/card_ap_56.100.avif)}
.card_ap_57{background-image:url(cards/card_ap_57.100.avif)}
.card_ap_58{background-image:url(cards/card_ap_58.100.avif)}
.card_ap_59{background-image:url(cards/card_ap_59.100.avif)}
.card_ap_60{background-image:url(cards/card_ap_60.100.avif)}
.card_ap_61{background-image:url(cards/card_ap_61.100.avif)}
.card_ap_62{background-image:url(cards/card_ap_62.100.avif)}
.card_ap_63{background-image:url(cards/card_ap_63.100.avif)}
.card_ap_64{background-image:url(cards/card_ap_64.100.avif)}
.card_ap_65{background-image:url(cards/card_ap_65.100.avif)}
.card_ap_66{background-image:url(cards/card_ap_66.100.avif)}
.card_ap_67{background-image:url(cards/card_ap_67.100.avif)}
.card_ap_68{background-image:url(cards/card_ap_68.100.avif)}
.card_ap_69{background-image:url(cards/card_ap_69.100.avif)}
.card_ap_70{background-image:url(cards/card_ap_70.100.avif)}
.card_ap_71{background-image:url(cards/card_ap_71.100.avif)}
.card_ap_72{background-image:url(cards/card_ap_72.100.avif)}
.card_ap_73{background-image:url(cards/card_ap_73.100.avif)}
.card_ap_74{background-image:url(cards/card_ap_74.100.avif)}
.card_ap_75{background-image:url(cards/card_ap_75.100.avif)}
.card_ap_76{background-image:url(cards/card_ap_76.100.avif)}
.card_ap_77{background-image:url(cards/card_ap_77.100.avif)}
.card_ap_78{background-image:url(cards/card_ap_78.100.avif)}
.card_ap_79{background-image:url(cards/card_ap_79.100.avif)}
.card_ap_80{background-image:url(cards/card_ap_80.100.avif)}
.card_ap_81{background-image:url(cards/card_ap_81.100.avif)}
.card_ap_82{background-image:url(cards/card_ap_82.100.avif)}
.card_ap_83{background-image:url(cards/card_ap_83.100.avif)}
.card_ap_84{background-image:url(cards/card_ap_84.100.avif)}
.card_jp_0{background-image:url(cards/card_jp_00.100.avif)}
.card_jp_1{background-image:url(cards/card_jp_01.100.avif)}
.card_jp_2{background-image:url(cards/card_jp_02.100.avif)}
.card_jp_3{background-image:url(cards/card_jp_03.100.avif)}
.card_jp_4{background-image:url(cards/card_jp_04.100.avif)}
.card_jp_5{background-image:url(cards/card_jp_05.100.avif)}
.card_jp_6{background-image:url(cards/card_jp_06.100.avif)}
.card_jp_7{background-image:url(cards/card_jp_07.100.avif)}
.card_jp_8{background-image:url(cards/card_jp_08.100.avif)}
.card_jp_9{background-image:url(cards/card_jp_09.100.avif)}
.card_jp_10{background-image:url(cards/card_jp_10.100.avif)}
.card_jp_11{background-image:url(cards/card_jp_11.100.avif)}
.card_jp_12{background-image:url(cards/card_jp_12.100.avif)}
.card_jp_13{background-image:url(cards/card_jp_13.100.avif)}
.card_jp_14{background-image:url(cards/card_jp_14.100.avif)}
.card_jp_15{background-image:url(cards/card_jp_15.100.avif)}
.card_jp_16{background-image:url(cards/card_jp_16.100.avif)}
.card_jp_17{background-image:url(cards/card_jp_17.100.avif)}
.card_jp_18{background-image:url(cards/card_jp_18.100.avif)}
.card_jp_19{background-image:url(cards/card_jp_19.100.avif)}
.card_jp_20{background-image:url(cards/card_jp_20.100.avif)}
.card_jp_21{background-image:url(cards/card_jp_21.100.avif)}
.card_jp_22{background-image:url(cards/card_jp_22.100.avif)}
.card_jp_23{background-image:url(cards/card_jp_23.100.avif)}
.card_jp_24{background-image:url(cards/card_jp_24.100.avif)}
.card_jp_25{background-image:url(cards/card_jp_25.100.avif)}
.card_jp_26{background-image:url(cards/card_jp_26.100.avif)}
.card_jp_27{background-image:url(cards/card_jp_27.100.avif)}
.card_jp_28{background-image:url(cards/card_jp_28.100.avif)}
.card_jp_29{background-image:url(cards/card_jp_29.100.avif)}
.card_jp_30{background-image:url(cards/card_jp_30.100.avif)}
.card_jp_31{background-image:url(cards/card_jp_31.100.avif)}
.card_jp_32{background-image:url(cards/card_jp_32.100.avif)}
.card_jp_33{background-image:url(cards/card_jp_33.100.avif)}
.card_jp_34{background-image:url(cards/card_jp_34.100.avif)}
.card_jp_35{background-image:url(cards/card_jp_35.100.avif)}
.card_jp_36{background-image:url(cards/card_jp_36.100.avif)}
.card_jp_37{background-image:url(cards/card_jp_37.100.avif)}
.card_jp_38{background-image:url(cards/card_jp_38.100.avif)}
.card_jp_39{background-image:url(cards/card_jp_39.100.avif)}
.card_jp_40{background-image:url(cards/card_jp_40.100.avif)}
.card_jp_41{background-image:url(cards/card_jp_41.100.avif)}
.card_jp_42{background-image:url(cards/card_jp_42.100.avif)}
.card_jp_43{background-image:url(cards/card_jp_43.100.avif)}
.card_jp_44{background-image:url(cards/card_jp_44.100.avif)}
.card_jp_45{background-image:url(cards/card_jp_45.100.avif)}
.card_jp_46{background-image:url(cards/card_jp_46.100.avif)}
.card_jp_47{background-image:url(cards/card_jp_47.100.avif)}
.card_jp_48{background-image:url(cards/card_jp_48.100.avif)}
.card_jp_49{background-image:url(cards/card_jp_49.100.avif)}
.card_jp_50{background-image:url(cards/card_jp_50.100.avif)}
.card_jp_51{background-image:url(cards/card_jp_51.100.avif)}
.card_jp_52{background-image:url(cards/card_jp_52.100.avif)}
.card_jp_53{background-image:url(cards/card_jp_53.100.avif)}
.card_jp_54{background-image:url(cards/card_jp_54.100.avif)}
.card_jp_55{background-image:url(cards/card_jp_55.100.avif)}
.card_jp_56{background-image:url(cards/card_jp_56.100.avif)}
.card_jp_57{background-image:url(cards/card_jp_57.100.avif)}
.card_jp_58{background-image:url(cards/card_jp_58.100.avif)}
.card_jp_59{background-image:url(cards/card_jp_59.100.avif)}
.card_jp_60{background-image:url(cards/card_jp_60.100.avif)}
.card_jp_61{background-image:url(cards/card_jp_61.100.avif)}
.card_jp_62{background-image:url(cards/card_jp_62.100.avif)}
.card_jp_63{background-image:url(cards/card_jp_63.100.avif)}
.card_jp_64{background-image:url(cards/card_jp_64.100.avif)}
.card_jp_65{background-image:url(cards/card_jp_65.100.avif)}
.card_jp_66{background-image:url(cards/card_jp_66.100.avif)}
.card_jp_67{background-image:url(cards/card_jp_67.100.avif)}
.card_jp_68{background-image:url(cards/card_jp_68.100.avif)}
.card_jp_69{background-image:url(cards/card_jp_69.100.avif)}
.card_jp_70{background-image:url(cards/card_jp_70.100.avif)}
.card_jp_71{background-image:url(cards/card_jp_71.100.avif)}
.card_jp_72{background-image:url(cards/card_jp_72.100.avif)}
.card_jp_73{background-image:url(cards/card_jp_73.100.avif)}
.card_jp_74{background-image:url(cards/card_jp_74.100.avif)}
.card_jp_75{background-image:url(cards/card_jp_75.100.avif)}
.card_jp_76{background-image:url(cards/card_jp_76.100.avif)}
.card_jp_77{background-image:url(cards/card_jp_77.100.avif)}
.card_jp_78{background-image:url(cards/card_jp_78.100.avif)}
.card_jp_79{background-image:url(cards/card_jp_79.100.avif)}
.card_jp_80{background-image:url(cards/card_jp_80.100.avif)}
.card_jp_81{background-image:url(cards/card_jp_81.100.avif)}
.card_jp_82{background-image:url(cards/card_jp_82.100.avif)}
.card_jp_83{background-image:url(cards/card_jp_83.100.avif)}
.card_jp_84{background-image:url(cards/card_jp_84.100.avif)}
.card_jp_85{background-image:url(cards/card_jp_85.100.avif)}
.card_jp_86{background-image:url(cards/card_jp_86.100.avif)}

/* CARDS (2X) */
@media (min-resolution: 97dpi) {
.card_ap_0{background-image:url(cards/card_ap_00.200.avif)}
.card_ap_1{background-image:url(cards/card_ap_01.200.avif)}
.card_ap_2{background-image:url(cards/card_ap_02.200.avif)}
.card_ap_3{background-image:url(cards/card_ap_03.200.avif)}
.card_ap_4{background-image:url(cards/card_ap_04.200.avif)}
.card_ap_5{background-image:url(cards/card_ap_05.200.avif)}
.card_ap_6{background-image:url(cards/card_ap_06.200.avif)}
.card_ap_7{background-image:url(cards/card_ap_07.200.avif)}
.card_ap_8{background-image:url(cards/card_ap_08.200.avif)}
.card_ap_9{background-image:url(cards/card_ap_09.200.avif)}
.card_ap_10{background-image:url(cards/card_ap_10.200.avif)}
.card_ap_11{background-image:url(cards/card_ap_11.200.avif)}
.card_ap_12{background-image:url(cards/card_ap_12.200.avif)}
.card_ap_13{background-image:url(cards/card_ap_13.200.avif)}
.card_ap_14{background-image:url(cards/card_ap_14.200.avif)}
.card_ap_15{background-image:url(cards/card_ap_15.200.avif)}
.card_ap_16{background-image:url(cards/card_ap_16.200.avif)}
.card_ap_17{background-image:url(cards/card_ap_17.200.avif)}
.card_ap_18{background-image:url(cards/card_ap_18.200.avif)}
.card_ap_19{background-image:url(cards/card_ap_19.200.avif)}
.card_ap_20{background-image:url(cards/card_ap_20.200.avif)}
.card_ap_21{background-image:url(cards/card_ap_21.200.avif)}
.card_ap_22{background-image:url(cards/card_ap_22.200.avif)}
.card_ap_23{background-image:url(cards/card_ap_23.200.avif)}
.card_ap_24{background-image:url(cards/card_ap_24.200.avif)}
.card_ap_25{background-image:url(cards/card_ap_25.200.avif)}
.card_ap_26{background-image:url(cards/card_ap_26.200.avif)}
.card_ap_27{background-image:url(cards/card_ap_27.200.avif)}
.card_ap_28{background-image:url(cards/card_ap_28.200.avif)}
.card_ap_29{background-image:url(cards/card_ap_29.200.avif)}
.card_ap_30{background-image:url(cards/card_ap_30.200.avif)}
.card_ap_31{background-image:url(cards/card_ap_31.200.avif)}
.card_ap_32{background-image:url(cards/card_ap_32.200.avif)}
.card_ap_33{background-image:url(cards/card_ap_33.200.avif)}
.card_ap_34{background-image:url(cards/card_ap_34.200.avif)}
.card_ap_35{background-image:url(cards/card_ap_35.200.avif)}
.card_ap_36{background-image:url(cards/card_ap_36.200.avif)}
.card_ap_37{background-image:url(cards/card_ap_37.200.avif)}
.card_ap_38{background-image:url(cards/card_ap_38.200.avif)}
.card_ap_39{background-image:url(cards/card_ap_39.200.avif)}
.card_ap_40{background-image:url(cards/card_ap_40.200.avif)}
.card_ap_41{background-image:url(cards/card_ap_41.200.avif)}
.card_ap_42{background-image:url(cards/card_ap_42.200.avif)}
.card_ap_43{background-image:url(cards/card_ap_43.200.avif)}
.card_ap_44{background-image:url(cards/card_ap_44.200.avif)}
.card_ap_45{background-image:url(cards/card_ap_45.200.avif)}
.card_ap_46{background-image:url(cards/card_ap_46.200.avif)}
.card_ap_47{background-image:url(cards/card_ap_47.200.avif)}
.card_ap_48{background-image:url(cards/card_ap_48.200.avif)}
.card_ap_49{background-image:url(cards/card_ap_49.200.avif)}
.card_ap_50{background-image:url(cards/card_ap_50.200.avif)}
.card_ap_51{background-image:url(cards/card_ap_51.200.avif)}
.card_ap_52{background-image:url(cards/card_ap_52.200.avif)}
.card_ap_53{background-image:url(cards/card_ap_53.200.avif)}
.card_ap_54{background-image:url(cards/card_ap_54.200.avif)}
.card_ap_55{background-image:url(cards/card_ap_55.200.avif)}
.card_ap_56{background-image:url(cards/card_ap_56.200.avif)}
.card_ap_57{background-image:url(cards/card_ap_57.200.avif)}
.card_ap_58{background-image:url(cards/card_ap_58.200.avif)}
.card_ap_59{background-image:url(cards/card_ap_59.200.avif)}
.card_ap_60{background-image:url(cards/card_ap_60.200.avif)}
.card_ap_61{background-image:url(cards/card_ap_61.200.avif)}
.card_ap_62{background-image:url(cards/card_ap_62.200.avif)}
.card_ap_63{background-image:url(cards/card_ap_63.200.avif)}
.card_ap_64{background-image:url(cards/card_ap_64.200.avif)}
.card_ap_65{background-image:url(cards/card_ap_65.200.avif)}
.card_ap_66{background-image:url(cards/card_ap_66.200.avif)}
.card_ap_67{background-image:url(cards/card_ap_67.200.avif)}
.card_ap_68{background-image:url(cards/card_ap_68.200.avif)}
.card_ap_69{background-image:url(cards/card_ap_69.200.avif)}
.card_ap_70{background-image:url(cards/card_ap_70.200.avif)}
.card_ap_71{background-image:url(cards/card_ap_71.200.avif)}
.card_ap_72{background-image:url(cards/card_ap_72.200.avif)}
.card_ap_73{background-image:url(cards/card_ap_73.200.avif)}
.card_ap_74{background-image:url(cards/card_ap_74.200.avif)}
.card_ap_75{background-image:url(cards/card_ap_75.200.avif)}
.card_ap_76{background-image:url(cards/card_ap_76.200.avif)}
.card_ap_77{background-image:url(cards/card_ap_77.200.avif)}
.card_ap_78{background-image:url(cards/card_ap_78.200.avif)}
.card_ap_79{background-image:url(cards/card_ap_79.200.avif)}
.card_ap_80{background-image:url(cards/card_ap_80.200.avif)}
.card_ap_81{background-image:url(cards/card_ap_81.200.avif)}
.card_ap_82{background-image:url(cards/card_ap_82.200.avif)}
.card_ap_83{background-image:url(cards/card_ap_83.200.avif)}
.card_ap_84{background-image:url(cards/card_ap_84.200.avif)}
.card_jp_0{background-image:url(cards/card_jp_00.200.avif)}
.card_jp_1{background-image:url(cards/card_jp_01.200.avif)}
.card_jp_2{background-image:url(cards/card_jp_02.200.avif)}
.card_jp_3{background-image:url(cards/card_jp_03.200.avif)}
.card_jp_4{background-image:url(cards/card_jp_04.200.avif)}
.card_jp_5{background-image:url(cards/card_jp_05.200.avif)}
.card_jp_6{background-image:url(cards/card_jp_06.200.avif)}
.card_jp_7{background-image:url(cards/card_jp_07.200.avif)}
.card_jp_8{background-image:url(cards/card_jp_08.200.avif)}
.card_jp_9{background-image:url(cards/card_jp_09.200.avif)}
.card_jp_10{background-image:url(cards/card_jp_10.200.avif)}
.card_jp_11{background-image:url(cards/card_jp_11.200.avif)}
.card_jp_12{background-image:url(cards/card_jp_12.200.avif)}
.card_jp_13{background-image:url(cards/card_jp_13.200.avif)}
.card_jp_14{background-image:url(cards/card_jp_14.200.avif)}
.card_jp_15{background-image:url(cards/card_jp_15.200.avif)}
.card_jp_16{background-image:url(cards/card_jp_16.200.avif)}
.card_jp_17{background-image:url(cards/card_jp_17.200.avif)}
.card_jp_18{background-image:url(cards/card_jp_18.200.avif)}
.card_jp_19{background-image:url(cards/card_jp_19.200.avif)}
.card_jp_20{background-image:url(cards/card_jp_20.200.avif)}
.card_jp_21{background-image:url(cards/card_jp_21.200.avif)}
.card_jp_22{background-image:url(cards/card_jp_22.200.avif)}
.card_jp_23{background-image:url(cards/card_jp_23.200.avif)}
.card_jp_24{background-image:url(cards/card_jp_24.200.avif)}
.card_jp_25{background-image:url(cards/card_jp_25.200.avif)}
.card_jp_26{background-image:url(cards/card_jp_26.200.avif)}
.card_jp_27{background-image:url(cards/card_jp_27.200.avif)}
.card_jp_28{background-image:url(cards/card_jp_28.200.avif)}
.card_jp_29{background-image:url(cards/card_jp_29.200.avif)}
.card_jp_30{background-image:url(cards/card_jp_30.200.avif)}
.card_jp_31{background-image:url(cards/card_jp_31.200.avif)}
.card_jp_32{background-image:url(cards/card_jp_32.200.avif)}
.card_jp_33{background-image:url(cards/card_jp_33.200.avif)}
.card_jp_34{background-image:url(cards/card_jp_34.200.avif)}
.card_jp_35{background-image:url(cards/card_jp_35.200.avif)}
.card_jp_36{background-image:url(cards/card_jp_36.200.avif)}
.card_jp_37{background-image:url(cards/card_jp_37.200.avif)}
.card_jp_38{background-image:url(cards/card_jp_38.200.avif)}
.card_jp_39{background-image:url(cards/card_jp_39.200.avif)}
.card_jp_40{background-image:url(cards/card_jp_40.200.avif)}
.card_jp_41{background-image:url(cards/card_jp_41.200.avif)}
.card_jp_42{background-image:url(cards/card_jp_42.200.avif)}
.card_jp_43{background-image:url(cards/card_jp_43.200.avif)}
.card_jp_44{background-image:url(cards/card_jp_44.200.avif)}
.card_jp_45{background-image:url(cards/card_jp_45.200.avif)}
.card_jp_46{background-image:url(cards/card_jp_46.200.avif)}
.card_jp_47{background-image:url(cards/card_jp_47.200.avif)}
.card_jp_48{background-image:url(cards/card_jp_48.200.avif)}
.card_jp_49{background-image:url(cards/card_jp_49.200.avif)}
.card_jp_50{background-image:url(cards/card_jp_50.200.avif)}
.card_jp_51{background-image:url(cards/card_jp_51.200.avif)}
.card_jp_52{background-image:url(cards/card_jp_52.200.avif)}
.card_jp_53{background-image:url(cards/card_jp_53.200.avif)}
.card_jp_54{background-image:url(cards/card_jp_54.200.avif)}
.card_jp_55{background-image:url(cards/card_jp_55.200.avif)}
.card_jp_56{background-image:url(cards/card_jp_56.200.avif)}
.card_jp_57{background-image:url(cards/card_jp_57.200.avif)}
.card_jp_58{background-image:url(cards/card_jp_58.200.avif)}
.card_jp_59{background-image:url(cards/card_jp_59.200.avif)}
.card_jp_60{background-image:url(cards/card_jp_60.200.avif)}
.card_jp_61{background-image:url(cards/card_jp_61.200.avif)}
.card_jp_62{background-image:url(cards/card_jp_62.200.avif)}
.card_jp_63{background-image:url(cards/card_jp_63.200.avif)}
.card_jp_64{background-image:url(cards/card_jp_64.200.avif)}
.card_jp_65{background-image:url(cards/card_jp_65.200.avif)}
.card_jp_66{background-image:url(cards/card_jp_66.200.avif)}
.card_jp_67{background-image:url(cards/card_jp_67.200.avif)}
.card_jp_68{background-image:url(cards/card_jp_68.200.avif)}
.card_jp_69{background-image:url(cards/card_jp_69.200.avif)}
.card_jp_70{background-image:url(cards/card_jp_70.200.avif)}
.card_jp_71{background-image:url(cards/card_jp_71.200.avif)}
.card_jp_72{background-image:url(cards/card_jp_72.200.avif)}
.card_jp_73{background-image:url(cards/card_jp_73.200.avif)}
.card_jp_74{background-image:url(cards/card_jp_74.200.avif)}
.card_jp_75{background-image:url(cards/card_jp_75.200.avif)}
.card_jp_76{background-image:url(cards/card_jp_76.200.avif)}
.card_jp_77{background-image:url(cards/card_jp_77.200.avif)}
.card_jp_78{background-image:url(cards/card_jp_78.200.avif)}
.card_jp_79{background-image:url(cards/card_jp_79.200.avif)}
.card_jp_80{background-image:url(cards/card_jp_80.200.avif)}
.card_jp_81{background-image:url(cards/card_jp_81.200.avif)}
.card_jp_82{background-image:url(cards/card_jp_82.200.avif)}
.card_jp_83{background-image:url(cards/card_jp_83.200.avif)}
.card_jp_84{background-image:url(cards/card_jp_84.200.avif)}
.card_jp_85{background-image:url(cards/card_jp_85.200.avif)}
.card_jp_86{background-image:url(cards/card_jp_86.200.avif)}

}
